<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 70%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    },
    button {
        margin-right: 10px;
    }
</style>

<h1>Product list</h1>
<hr>

<a href='/admin/products/create'><button>CREATE A NEW PRODUCT</button></a><br><br>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>quantity</th>
    <th>brand</th>
    <th>description</th>
  </tr>

{{#each products}}
  <tr>
    <td>{{name}}</td>
    <td>{{category}}</td>
    <td>{{quantity}}</td>
    <td>{{brand}}</td>
    <td>{{description}}</td>
    <td>
        <a href="/admin/products/update/{{_id}}"><button>UPDATE</button></a>
        <a href="/admin/products/delete/{{_id}}"><button>DELETE</button></a>
    </td>
  </tr>
{{else}}
{{/each}}

</table>
