<div class="container">
  <!-- JUNBOTRON -->
  <div class="jumbotron">
    <h1 class="display-4">Olá, mundo!</h1>
    <p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou informação.</p>
    <hr class="my-4">
    <p>Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
  </div>


  <!-- LISTA AS CATEGORIAS -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {{#each categories}}
        <li class="breadcrumb-item"><a href="/categories/{{_id}}">{{name}}</a></li>
      {{else}}
      {{/each}}
    </ol>
  </nav>


  <!-- LISTA OS PRODUTOS -->
  <div class="container mt-5">
    <div class="row">
      {{#each products}}  
      <div class="card" style="width: 13.8759rem;">
        <img class="card-img-top" src="/img/not.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: $10</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Buy now </a>
          <a href="#" class="card-link">Add to cart</a>
        </div>
      </div>  
      {{else}}
        <div>No products registered, please register a product</div>
      {{/each}}
    </div>
  </div>
</div>